* {
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid red 1px;
  margin: 0;
  padding: 0;

}

body {
  height: 48rem;
  margin: 2.5rem;
  padding: 2rem;
  background-image: url("/imagenes/nubesSimpsons.webp");
  font-weight: bolder;
}

.titulo {
  display: flex;
  padding-top: 8rem;
  justify-content: center;
  font-size: 5rem;
  font-family: "Hurricane", cursive;
  text-shadow: -2px -2px 1px #ffd90f, 2px 2px 1px #ffd90f, -2px 2px 1px #ffd90f,
    2px -2px 1px #ffd90f;
}

.subtitulo {
  color: black;
  font-size: 2.5rem;
  padding-left: 70rem;
  font-family: "Hurricane", cursive;
}
h2 {
  font-size: 2.5rem;
}

/* PERSONAJES */

h2 {
  text-align: center;
  font-size: 6rem;
  font-family: "Hurricane", cursive;
  text-shadow: -2px -2px 1px #ffd90f, 2px 2px 1px #ffd90f, -2px 2px 1px #ffd90f,
    2px -2px 1px #ffd90f;
  padding-bottom: 3rem;
}
.contenedorPersonajes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.seleccionPersonajes {
  height: 23rem;
  width: 20rem;
}
.seleccionPersonajes img {
  width: 252px;
  height: 312px;
  border-radius: 10rem;
  border: black solid 4px;
}

/* INGAME */
.ContendorMayor {
 
}
.contenedor{
  display:flex;
  justify-content: center;
  align-items: center;
}

.personajeActivo {
  width: 30rem;
  height: 30rem;
}

#jugando {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.bloqueInferior {
  position: relative;
  margin: 0, auto;
  width: 100%;
  height: 17rem;
  justify-content: center;
  background-color: #ffd90f;
  border: red solid 3px;
}
.palabraActual{
  background-color: blanchedalmond;
  width: 35rem;
  height: 5rem;
  color: black;
}  